<div class="bg-dark rounded px-3 pt-3 ms-3" id="sidebar">
  <div class="title-container">
    <h3 class="text-light text-center">Historial</h3>
  </div>
  <div class="mt-5">
    <section class="pt-2 ms-2">
      <ul class="timeline-with-icons">
        @for (item of history; track $index) {
        <li class="timeline-item mb-2" (click)="repetirBusqueda(item.query,item.type)">
          <span class="timeline-icon">
            <span *ngIf="item.type === 'Track'" class="material-symbols-outlined">
              music_note
            </span>
            <span *ngIf="item.type === 'Artist'" class="material-symbols-outlined">
              artist
            </span>
          </span>

          <h6 class="fw-bold">{{item.query | titlecase}}</h6>
          <p class="text-bg-dark">
            {{item.type}}
          </p>
        </li>
        }
      </ul>
    </section>
  </div>
</div>
