<div class="card mb-2 text-center bg-dark">
  <shared-lazy-image
    [url]="album.images[1].url"
    [alt]="album.name"
    class="card-img-top"
  ></shared-lazy-image>
  <div class="card-body text-white">
    <h4 class="card-text">
      {{album.name}}
    </h4>
    <p class="card-text fst-italic"> {{album.release_date | date:"YYYY"}} </p>
  </div>
  <div class="card-body text-white d-flex justify-content-center p-1">
    @for (unArtista of album.artists; track $index) {
      <a href="#" class="card-link rounded bg-light p-1 text-decoration-none text-dark mx-1">
        {{unArtista.name}}
      </a>
    }
  </div>
</div>
