<div class="text-end me-5 mb-3">
  <button type="button" class="btn btn-outline-danger btn-sm h-auto mt-2 px-3" (click)="navigateBack()">Regresar</button>
</div>

<div class="bg-dark bg-gradient border border-white rounded-4 me-1 p-2 ps-4">
  <h2>{{album?.name}}</h2>
  <p>Álbum de {{artist?.name}} publicado en {{album?.release_date | date:"yyyy"}}.</p>
  <p>Presenta un total de {{album?.total_tracks}} canciones.</p>
</div>
<div class="mt-2">
  <tracks-table [trackList]="tabla"></tracks-table>
</div>
