/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000; /* Código de color para negro */
  color: #fff; /* Color de texto blanco, para mejorar la legibilidad */
}

* {
  box-sizing: border-box;
}

