
  @if(trackList.length === 0){
  <div class="alert alert-warning mt-3">
    No hay canciones para mostrar
  </div>
  }
  @else{


  <table class="table table-hover text-white">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Álbum</th>
        <th>Canción</th>
        <th>Vista previa</th>
      </tr>
    </thead>
    <tbody>
      @for (track of trackList; track $index) {
      <tr>
        <td><img style="cursor: pointer;" [routerLink]="['/album/', track.albumID]" [src]="track.photo" height="auto" width="150"></td>
        <td style="cursor: pointer;" [routerLink]="['/album/', track.albumID]"><strong>{{track.album}}</strong></td>
        <td>{{track.name}}</td>
        <td>
          <iframe style="border-radius:12px"
          [src]="getSafeUrl(track.id)"
           width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </td>
      </tr>

      }

    </tbody>

  </table>
  }
